.nav-link {
    font-family: 'Josefin sans', sans-serif;
    font-size: 24px;
}

.animation-div {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2px;
}

.zlogodiv {
    z-index: 100;
    padding: 5px;
}

.zlogodiv img {
    width: 500px;
    height: auto;
}

.ex-circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 115px;
    left: 536px;
    opacity: 0;
    animation: scaleIn 6s infinite cubic-bezier(.36, .11, .89, .32);
}
#metrics_upload {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;

}
#att_table {
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 75px;
    border-bottom: 3px rgb(219, 218, 218) solid;
}

table {
    border-left: 7px blue solid;
    border-right: 7px blue solid;
    border-bottom: 7px blue solid; 
    width:100%;
}

tr {
    color: blue;
    padding: 3px;
}

#col-headers .nav-item {
    padding-left: 19px;
    padding-right: 23px;
}

#col-headers .navbar-brand {
    padding-left: 10px;
}
#col-headers {
    border-left: 7px rgb(219, 218, 218) solid;
    border-right: 7px rgb(219, 218, 218) solid;
    border-top: 7px rgb(219, 218, 218) solid;

}

.stats-text {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-align: center;
}

.stats-text strong {
    color: blue;
    font-size: 24px;
}

#cForm {
    font-family: 'Poppins', sans-serif;
    margin-left: 25px;
    margin-top: 30px;
}

#cForm .form-check {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 10px;
}

#cForm .form-control {
    margin-bottom: 30px;
}


@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
    }