.nav-link {
    font-family: 'Josefin sans', sans-serif;
    font-size: 24px;
}

.animation-div {
    margin-top: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2px;
}

.zlogodiv {
    z-index: 100;
    padding: 5px;
}

.zlogodiv img {
    width: 500px;
    height: auto;
}

.ex-circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 115px;
    left: 536px;
    opacity: 0;
    animation: scaleIn 6s infinite cubic-bezier(.36, .11, .89, .32);
}
#metrics_upload {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;

}
#att_table {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 75px;
    border-bottom: 3px rgb(219, 218, 218) solid;
}

table {
    border-left: 7px blue solid;
    border-right: 7px blue solid;
    border-bottom: 7px blue solid; 
    width:100%;
}

tr {
    color: blue;
    padding: 3px;
}

#col-headers .nav-item {
    padding-left: 5px;
    padding-right: 40px;
  
}

#col-headers .nav-link {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

#col-headers .navbar-brand {
    padding-left: 10px;
    font-family: 'Roboto Slab', serif;
}
#col-headers {
    border-left: 7px rgb(219, 218, 218) solid;
    border-right: 7px rgb(219, 218, 218) solid;
    border-top: 7px rgb(219, 218, 218) solid;

}

.stats-text {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-align: center;
}

.stats-text strong {
    color: blue;
    font-size: 24px;
}

#cForm {
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 18px;
}

#cForm .form-check {
    margin-bottom: 8px;
    margin-top: 8px;
}

#cForm .mb-3 {
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*border:5px lightblue double;*/
    background-color: aliceblue;

}

#nc_upload {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    margin-top: 125px;
}

.radio-wrap {
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*border:2px lightblue dotted;*/
    background-color: aliceblue;
}

#log_example {
    margin-top: 25px;
    /*border-top: 7px rgb(49, 49, 49) solid;*/
    border-top: 7px rgb(218, 218, 218) solid;
}

#log_example tr {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.text-chunk {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 25px;
    padding: 20px;
    text-align: justify;
}
.text-chunk p {
    margin-top: 30px;
}

.text-chunk p .text-hl {
    font-size: 22px;
    font-family: 'Roboto Slab', sans-serif;
    color: blue;
}

.text-chunk p .text-emph {
    font-size: 19px;
    color: blue;
}

.text-chunk h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', serif;
}

.text-chunk li strong {
    color: blue;
    font-size: 19px;
}

.text-chunk .mb-3 {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border:2px lightblue dotted;*/
    background-color: aliceblue;
}


.demo-radio {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border:2px lightblue dotted;*/
    background-color: aliceblue;
}
.ast-note {
    color: rgb(122, 122, 122);
    font-size: 14;
    font-family: 'Roboto', serif;
    margin-top: 50px;
}

sup {
    color: rgb(122, 122, 122);
}

#dl-container {
    margin-top: 60px;
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
    }