<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5886662fe9.js" crossorigin="anonymous"></script>
    <title>JSON Download</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="z-index: 100;">
        <div class="container">
            <ul class="navbar-nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about">about</a>
                </li>
            </ul>
            <a class="navbar-brand mx-auto" href="/" id="nav-logo" style="padding: 0px;">
            <img src="{{url_for('static', filename='/images/zoom-logo-left.png')}}" height="130px" width="auto">
            </a>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/name-check"> cleaning </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" id="container">
    </div>

    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
          <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/jakehtaylor/" role="button"
              ><i class="fab fa-linkedin fa-3x"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/jakehtaylor" role="button"
              ><i class="fab fa-github fa-3x"></i
            ></a>
          </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright: Jake H. Taylor
        </div>
      </footer>

    <script>
        var obj = {{replace|safe}};
        var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(obj));
        var a = document.createElement('a');
        a.href = 'data:' + data;
        a.download = 'name_changes.json';
        a.innerHTML = 'Download JSON Cleaning File';
        var container = document.getElementById('container');
        container.appendChild(a);
    </script>
    
</body>
</html>